@charset "UTF-8";
/* SASS Variables */
/* CSS Variables */
:root {
  --color-dark: hsl(230, 35%, 7%);
  --color-light: hsl(231, 77%, 90%);
  --color-white: hsl(0, 0%, 100%);
  --font-heading: "Bellefair", serif;
  --font-body: "Barlow", sans-serif;
  --font-nav: "Barlow Condensed", sans-serif;
  --font-size: 1.8rem;
  --transition-duration: 0.35s;
}

*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
  padding: 0;
  margin: 0;
}

:where(:root) {
  cursor: default;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

:where(body) {
  margin: 0;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

:where(hr) {
  color: inherit;
  height: 0;
}

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

:where(nav li)::before {
  content: "​";
  float: left;
}

:where(pre) {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}

:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp) {
  font-family: monospace, monospace;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
  border-style: none;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where(button, input, select) {
  margin: 0;
}

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  margin: 0;
  resize: vertical;
}

:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

:where(button, input, select, textarea) {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size);
  font-weight: 400;
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 100%;
  max-height: 100vh;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

/* Typography */
h1,
h2,
h3,
h4,
h6 {
  font-family: var(--font-heading);
  font-weight: 400;
  color: var(--color-white);
}

h1 {
  font-size: 15rem;
}

h2 {
  font-size: 10rem;
}

h3 {
  font-size: 5.6rem;
}

h4 {
  font-size: 3.2rem;
}

h6 {
  font-size: 2.8rem;
}

h5 {
  font-family: var(--font-nav);
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.475rem;
}
h5 .sub {
  font-size: 1.4rem;
  letter-spacing: 0.235rem;
}

/* Button */
.btn {
  font-family: var(--font-heading);
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  color: var(--color-dark);
  background-color: var(--color-white);
  width: 27.4rem;
  height: 27.4rem;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}
.btn--main::before, .btn--main::after {
  content: "";
  display: block;
  position: absolute;
  width: 27rem;
  height: 27rem;
  top: 0;
  left: 0;
  background-color: #24262f;
  border-radius: 100%;
  z-index: -1;
  opacity: 0;
  transition: opacity 2s, transform var(--transition-duration);
}
.btn--main:before {
  background-color: transparent;
  border: 1px solid var(--color-light);
  z-index: 1;
}
@keyframes btnHover {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(1.8);
    opacity: 0.25;
  }
}
.btn--main:hover::before {
  transform-origin: center;
  animation: btnHover 1s infinite ease-out;
}
.btn--main:hover::after {
  transform: scale(1.5);
  transform-origin: center;
  opacity: 0.75;
}
.btn--numbers {
  width: 8rem;
  height: 8rem;
  color: var(--color-white);
  background-color: transparent;
  margin-bottom: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  transition: border var(--transition-duration);
}
.btn--numbers:hover {
  border: 1px solid var(--color-white);
}
.btn--numbers.active {
  border: 1px solid var(--color-white);
  color: var(--color-dark);
  background-color: var(--color-white);
}
.btn--dots {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-white);
  opacity: 0.175;
  transition: opacity var(--transition-duration);
  margin-right: 2.4rem;
  font-size: 100%;
}
.btn--dots:hover {
  opacity: 0.5;
}
.btn--dots.active {
  opacity: 1;
}

/* Tabs in Destination Section*/
.tabs {
  display: flex;
  padding-bottom: 3.7rem;
}
.tabs__item {
  font-family: var(--font-nav);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.235rem;
  text-transform: uppercase;
  margin-right: 3.2rem;
  padding-bottom: 1.5rem;
  transition: background var(--transition-duration);
  cursor: pointer;
  /* underline effect */
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) bottom/0% 3px no-repeat;
}
.tabs__item:hover {
  background-size: 100% 3px;
}
.tabs__item.active {
  background: linear-gradient(white, white) bottom/100% 3px no-repeat;
  color: var(--color-white);
}
.tabs__title {
  text-transform: uppercase;
  padding-bottom: 1.7rem;
}
.tabs__text {
  line-height: 1.7;
  position: relative;
  margin-bottom: 9rem;
}
.tabs__text::after {
  content: "";
  display: block;
  position: absolute;
  width: 44.4rem;
  height: 1px;
  background-color: #383b4b;
  bottom: -6rem;
  left: 0;
}
.tabs__details {
  display: flex;
  flex-direction: row;
  font-family: var(--font-heading);
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--color-white);
  text-transform: uppercase;
}
.tabs__details .tabs__details--time span, .tabs__details--time .tabs__details span, .tabs__details .tabs__details--distance span, .tabs__details--distance .tabs__details span {
  font-family: var(--font-nav);
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.235rem;
  color: var(--color-light);
  padding-bottom: 1.3rem;
}
.tabs__details--distance {
  display: flex;
  flex-direction: column;
  padding-right: 8rem;
}
.tabs__details--time {
  display: flex;
  flex-direction: column;
}
/* Backgrounds */
.bg--technology, .bg--crew, .bg--destination, .bg {
  transition: background 1s;
}

.bg {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg--destination {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg--crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.bg--technology {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Layout */
.container {
  max-width: 144rem;
  margin: 0 auto;
}

/* Header */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  margin-top: 4rem;
}
.header__logo {
  width: 4.8rem;
  height: 4.8rem;
  margin-left: 5.5rem;
}

/* Navigation */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 12rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  position: relative;
}
.nav::before {
  content: "";
  display: block;
  position: absolute;
  width: 47.3rem;
  height: 1px;
  top: 4.75rem;
  left: -44.2rem;
  background-color: var(--color-white);
  opacity: 0.25;
  z-index: 1;
}
.nav__item {
  display: flex;
  align-items: center;
  font-family: var(--font-nav);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  padding: 3.5rem 0;
  margin-right: 4.8rem;
  transition: background var(--transition-duration);
  cursor: pointer;
  /* underline effect */
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) bottom/0% 3px no-repeat;
}
.nav__item:hover {
  background-size: 100% 3px;
}
.nav__item span {
  font-weight: bold;
  padding-right: 0.6rem;
}
.nav__item.active {
  background: linear-gradient(white, white) bottom/100% 3px no-repeat;
}

/* Sections */
.section {
  width: 100%;
}

.technology, .crew, .destination, .home {
  display: none;
}

.home__container {
  margin: 0 16.5rem;
  padding-top: 25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 7rem;
}
.home__content {
  padding-right: 39rem;
}
.home__title, .home__subtitle {
  padding-bottom: 2.5rem;
}
.home__text {
  line-height: 2;
}

.technology__container, .crew__container, .destination__container {
  margin: 0 16.5rem;
  padding-top: 7.5rem;
}

.technology__title, .crew__title, .destination__title {
  padding-bottom: 6rem;
  text-transform: uppercase;
}

.technology__title span, .crew__title span, .destination__title span {
  padding-right: 2.5rem;
  font-weight: bold;
  opacity: 0.25;
}

.destination__content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 7rem;
}
.destination__img {
  max-width: 100%;
  padding-left: 6.3rem;
  padding-right: 15.7rem;
  padding-top: 3.7rem;
}

.crew__container {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 7.5rem;
}
.crew__title {
  padding-bottom: 15rem;
}
.crew__info {
  min-width: 50%;
}
.crew__job {
  text-transform: uppercase;
  opacity: 0.5;
  padding-bottom: 1.5rem;
}
.crew__name {
  text-transform: uppercase;
  padding-bottom: 2.7rem;
}
.crew__bio {
  color: var(--color-light);
  line-height: 1.77;
  width: 44rem;
  padding-bottom: 11.5rem;
}
.crew__img {
  width: 100%;
  height: auto;
  align-self: flex-end;
  transform: translateX(8rem);
}
.crew__img img {
  max-width: 90%;
  height: auto;
}

.technology__container {
  margin: 0 auto;
}
.technology__title {
  padding-left: 16.3rem;
}
.technology__wrapper {
  padding-left: 16.3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 7rem;
}
.technology__content {
  display: flex;
  flex-direction: row;
  justify-content: mull;
  align-items: center;
}
.technology__numbers {
  display: flex;
  flex-direction: column;
  margin-right: 8rem;
  list-style: none;
}
.technology__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.technology__article--sub {
  font-family: var(--font-nav);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-light);
  text-transform: uppercase;
  letter-spacing: 0.27rem;
  padding-bottom: 1.1rem;
}
.technology__article--title {
  text-transform: uppercase;
  padding-bottom: 1.7rem;
}
.technology__article--text {
  max-width: 44.4rem;
  line-height: 1.77;
  color: var(--color-light);
}
.technology__img img {
  max-width: 100%;
  height: auto;
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.visible {
  display: block;
  animation: visible 3s;
  animation-fill-mode: forwards;
}

/*# sourceMappingURL=main.css.map */
