@charset "UTF-8";
/* SASS Variables */
/* CSS Variables */
:root {
  --color-dark: hsl(230, 35%, 7%);
  --color-light: hsl(231, 77%, 90%);
  --color-white: hsl(0, 0%, 100%);
  --font-heading: "Bellefair", serif;
  --font-body: "Barlow", sans-serif;
  --font-nav: "Barlow Condensed", sans-serif;
  --font-size: 1.8rem;
  --transition-duration: 0.35s;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
  padding: 0;
  margin: 0;
}

:where(:root) {
  cursor: default;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

:where(body) {
  margin: 0;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

:where(hr) {
  color: inherit;
  height: 0;
}

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

:where(nav li)::before {
  content: "​";
  float: left;
}

:where(pre) {
  font-family: monospace, monospace;
  font-size: 1em;
  overflow: auto;
}

:where(abbr[title]) {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp) {
  font-family: monospace, monospace;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
  border-style: none;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where(button, input, select) {
  margin: 0;
}

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  margin: 0;
  resize: vertical;
}

:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

:where(button, input, select, textarea) {
  background-color: transparent;
  border: 1px solid WindowFrame;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  padding: 0.25em 0.375em;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes planet {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
            transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
            transform-origin: 1800px 50%;
    opacity: 1;
  }
}
@keyframes planet {
  0% {
    -webkit-transform: translateX(-800px) rotateY(30deg) scale(0);
            transform: translateX(-800px) rotateY(30deg) scale(0);
    -webkit-transform-origin: -100% 50%;
            transform-origin: -100% 50%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotateY(0) scale(1);
            transform: translateX(0) rotateY(0) scale(1);
    -webkit-transform-origin: 1800px 50%;
            transform-origin: 1800px 50%;
    opacity: 1;
  }
}
@-webkit-keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}
@keyframes swing-in-bottom-fwd {
  0% {
    -webkit-transform: rotateX(100deg);
            transform: rotateX(100deg);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    -webkit-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 1;
  }
}
@-webkit-keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@keyframes scale-up-hor-right {
  0% {
    -webkit-transform: scaleX(0.4);
            transform: scaleX(0.4);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes focus-in-expand {
  0% {
    letter-spacing: -0.5em;
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.anim__slide-top {
  -webkit-animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-top 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.anim__fade-in {
  -webkit-animation: fade-in 1.2s ease-in-out both;
          animation: fade-in 1.2s ease-in-out both;
}
.anim__fade-in-left {
  -webkit-animation: fade-in-left 1s ease-in-out both;
          animation: fade-in-left 1s ease-in-out both;
}
.anim__fade-in-right {
  -webkit-animation: fade-in-right 1s ease-in-out both;
          animation: fade-in-right 1s ease-in-out both;
}
.anim__swing-in-bottom-fwd {
  -webkit-animation: swing-in-bottom-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
          animation: swing-in-bottom-fwd 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}
.anim__scale-up-hor-right {
  -webkit-animation: scale-up-hor-right 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-hor-right 0.8s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
.anim__tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
          animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
.anim__focus-in-expand {
  -webkit-animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: focus-in-expand 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.anim__planet {
  -webkit-animation: planet 1.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: planet 1.25s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.anim__delay--0 {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
.anim__delay--1 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.anim__delay--2 {
  -webkit-animation-delay: 1.25s;
          animation-delay: 1.25s;
}
.anim__delay--3 {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-size);
  font-weight: 400;
  background-color: var(--color-dark);
  color: var(--color-light);
  width: 100%;
  max-height: 100vh;
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
}

/* Typography */
h1,
h2,
h3,
h4,
h6 {
  font-family: var(--font-heading);
  font-weight: 400;
  color: var(--color-white);
}

h1 {
  font-size: 15rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 8rem;
  }
}

h2 {
  font-size: 10rem;
}
@media (max-width: 768px) {
  h2 {
    font-size: 5.6rem;
  }
}

h3 {
  font-size: 5.6rem;
}
@media (max-width: 768px) {
  h3 {
    font-size: 2.4rem;
  }
}

h4 {
  font-size: 3.2rem;
}

h6 {
  font-size: 2.8rem;
}

h5 {
  font-family: var(--font-nav);
  font-size: 2.8rem;
  font-weight: 400;
  letter-spacing: 0.475rem;
}
@media (max-width: 768px) {
  h5 {
    font-size: 1.6rem;
  }
}
h5 .sub {
  font-size: 1.4rem;
  letter-spacing: 0.235rem;
}

/* Toggle menu */
.toggle {
  position: absolute;
  top: 3.5rem;
  right: 3rem;
  z-index: 9999;
  cursor: pointer;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.toggle--menu {
  display: none;
}
@media (max-width: 768px) {
  .toggle--menu {
    display: inline-block;
  }
}
.toggle--close {
  display: none;
}

/* Button */
.btn {
  font-family: var(--font-heading);
  font-size: 3.2rem;
  letter-spacing: 0.2rem;
  color: var(--color-dark);
  background-color: var(--color-white);
  width: 27.4rem;
  height: 27.4rem;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  position: relative;
}
@media (max-width: 768px) {
  .btn {
    width: 15rem;
    height: 15rem;
    font-size: 2rem;
  }
}
.btn--main::before, .btn--main::after {
  content: "";
  display: block;
  position: absolute;
  width: 27rem;
  height: 27rem;
  top: 0;
  left: 0;
  background-color: #24262f;
  border-radius: 100%;
  z-index: -1;
  opacity: 0;
  -webkit-transition: opacity 2s, -webkit-transform var(--transition-duration);
  transition: opacity 2s, -webkit-transform var(--transition-duration);
  -o-transition: opacity 2s, transform var(--transition-duration);
  transition: opacity 2s, transform var(--transition-duration);
  transition: opacity 2s, transform var(--transition-duration), -webkit-transform var(--transition-duration);
}
@media (max-width: 768px) {
  .btn--main::before, .btn--main::after {
    display: none;
  }
}
.btn--main:before {
  background-color: transparent;
  border: 1px solid var(--color-light);
  z-index: 1;
}
@-webkit-keyframes btnHover {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0.25;
  }
}
@keyframes btnHover {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1.8);
            transform: scale(1.8);
    opacity: 0.25;
  }
}
.btn--main:hover::before {
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-animation: btnHover 1s infinite ease-out;
          animation: btnHover 1s infinite ease-out;
}
.btn--main:hover::after {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  opacity: 0.75;
}
.btn--numbers {
  width: 8rem;
  height: 8rem;
  color: var(--color-white);
  background-color: transparent;
  margin-bottom: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  -webkit-transition: border var(--transition-duration);
  -o-transition: border var(--transition-duration);
  transition: border var(--transition-duration);
}
@media (max-width: 768px) {
  .btn--numbers {
    width: 4rem;
    height: 4rem;
    font-size: 1.8rem;
  }
}
.btn--numbers:hover {
  border: 1px solid var(--color-white);
}
.btn--numbers.active {
  border: 1px solid var(--color-white);
  color: var(--color-dark);
  background-color: var(--color-white);
}
.btn--dots {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-white);
  opacity: 0.175;
  -webkit-transition: opacity var(--transition-duration);
  -o-transition: opacity var(--transition-duration);
  transition: opacity var(--transition-duration);
  font-size: 100%;
}
@media (max-width: 768px) {
  .btn--dots {
    width: 1rem;
    height: 1rem;
    font-size: 1rem;
  }
}
.btn--dots:not(:last-of-type) {
  margin-right: 2.4rem;
}
.btn--dots:hover {
  opacity: 0.5;
}
.btn--dots.active {
  opacity: 1;
}

/* Tabs in Destination Section*/
.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 3.7rem;
}
@media (max-width: 1024px) {
  .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .tabs {
    padding-bottom: 2rem;
  }
}
.tabs__item {
  font-family: var(--font-nav);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.235rem;
  text-transform: uppercase;
  padding-bottom: 1.5rem;
  -webkit-transition: background var(--transition-duration);
  -o-transition: background var(--transition-duration);
  transition: background var(--transition-duration);
  cursor: pointer;
  /* underline effect */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))) bottom/0% 3px no-repeat;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) bottom/0% 3px no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) bottom/0% 3px no-repeat;
}
.tabs__item:not(:last-of-type) {
  margin-right: 3.2rem;
}
.tabs__item:hover {
  background-size: 100% 3px;
}
.tabs__item.active {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white)) bottom/100% 3px no-repeat;
  background: -o-linear-gradient(white, white) bottom/100% 3px no-repeat;
  background: linear-gradient(white, white) bottom/100% 3px no-repeat;
  color: var(--color-white);
}
.tabs__title {
  text-transform: uppercase;
  padding-bottom: 1.7rem;
}
.tabs__text {
  line-height: 1.7;
  position: relative;
  margin-bottom: 9rem;
}
@media (max-width: 768px) {
  .tabs__text {
    font-size: 1.5rem;
    margin-bottom: 6rem;
  }
}
.tabs__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: var(--font-heading);
  font-size: 2.8rem;
  font-weight: 400;
  color: var(--color-white);
  text-transform: uppercase;
  position: relative;
}
@media (max-width: 1024px) {
  .tabs__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 768px) {
  .tabs__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2.8rem;
  }
}
.tabs__details::after {
  content: "";
  display: block;
  position: absolute;
  width: 44.4rem;
  height: 1px;
  background-color: #383b4b;
  top: -2.5rem;
  left: 0;
}
@media (max-width: 1024px) {
  .tabs__details::after {
    left: 50%;
    -webkit-transform: translate(-50%);
        -ms-transform: translate(-50%);
            transform: translate(-50%);
  }
}
@media (max-width: 768px) {
  .tabs__details::after {
    width: 95%;
  }
}
.tabs__details .tabs__details--time span, .tabs__details--time .tabs__details span, .tabs__details .tabs__details--distance span, .tabs__details--distance .tabs__details span {
  font-family: var(--font-nav);
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.235rem;
  color: var(--color-light);
  padding-bottom: 1.3rem;
}
.tabs__details--distance {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 8rem;
}
@media (max-width: 768px) {
  .tabs__details--distance {
    padding-right: 0;
    padding-bottom: 2rem;
  }
}
.tabs__details--time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/* Backgrounds */
.bg--technology, .bg--crew, .bg--destination, .bg--home {
  -webkit-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
}

.bg--home {
  background-image: url("../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .bg--home {
    background-image: url("../assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .bg--home {
    background-image: url("../assets/home/background-home-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.bg--destination {
  background-image: url("../assets/destination/background-destination-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .bg--destination {
    background-image: url("../assets/destination/background-destination-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .bg--destination {
    background-image: url("../assets/destination/background-destination-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.bg--crew {
  background-image: url("../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .bg--crew {
    background-image: url("../assets/crew/background-crew-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .bg--crew {
    background-image: url("../assets/crew/background-crew-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.bg--technology {
  background-image: url("../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1024px) {
  .bg--technology {
    background-image: url("../assets/technology/background-technology-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media (max-width: 768px) {
  .bg--technology {
    background-image: url("../assets/technology/background-technology-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}

/* Layout */
.container {
  max-width: 144rem;
  margin: 0 auto;
}
@media (max-width: 1024px) {
  .container {
    max-width: 102.4rem;
  }
}

/* Header */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}
@media (max-width: 1024px) {
  .header {
    margin-top: 0;
  }
}
.header__logo {
  width: 4.8rem;
  height: 4.8rem;
  margin-left: 5.5rem;
}
@media (max-width: 1024px) {
  .header__logo {
    margin-left: 4rem;
  }
}
@media (max-width: 768px) {
  .header__logo {
    margin-top: 2.5rem;
    margin-left: 2.5rem;
    width: 4rem;
    height: 4rem;
  }
}

/* Navigation */
.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12rem;
  opacity: 1;
  background: rgba(255, 255, 255, 0.04);
  -webkit-backdrop-filter: blur(81.5485px);
          backdrop-filter: blur(81.5485px);
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}
@media (max-width: 1024px) {
  .nav {
    padding: 0 7.5rem;
  }
}
@media (max-width: 768px) {
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    padding: 10rem 6rem 0 6rem;
    display: none;
    opacity: 0;
  }
}
.nav::before {
  content: "";
  display: block;
  position: absolute;
  width: 47.3rem;
  height: 1px;
  top: 4.75rem;
  left: -44.2rem;
  background-color: var(--color-white);
  opacity: 0.25;
  z-index: 1;
}
@media (max-width: 1024px) {
  .nav::before {
    display: none;
    opacity: 0;
  }
}
.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: var(--font-nav);
  font-size: 1.6rem;
  letter-spacing: 0.27rem;
  text-transform: uppercase;
  padding: 3.5rem 0;
  margin-right: 4.8rem;
  -webkit-transition: background var(--transition-duration);
  -o-transition: background var(--transition-duration);
  transition: background var(--transition-duration);
  cursor: pointer;
  /* underline effect */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5))) bottom/0% 3px no-repeat;
  background: -o-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) bottom/0% 3px no-repeat;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)) bottom/0% 3px no-repeat;
}
@media (max-width: 1024px) {
  .nav__item {
    margin-right: 2.5rem;
  }
}
@media (max-width: 768px) {
  .nav__item {
    padding: 2rem 0;
  }
}
@media (max-width: 1024px) {
  .nav__item:last-of-type {
    margin-right: 0;
  }
}
.nav__item:hover {
  background-size: 100% 3px;
}
.nav__item span {
  font-weight: bold;
  padding-right: 0.6rem;
}
.nav__item.active {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(white)) bottom/100% 3px no-repeat;
  background: -o-linear-gradient(white, white) bottom/100% 3px no-repeat;
  background: linear-gradient(white, white) bottom/100% 3px no-repeat;
}

/* Sections */
.section {
  width: 100%;
}

.technology, .crew, .destination, .home {
  display: none;
}

.home__container {
  margin: 0 16.5rem;
  padding-top: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 7rem;
}
@media (max-width: 1400px) {
  .home__container {
    padding-top: 15rem;
  }
}
@media (max-width: 1024px) {
  .home__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 11rem;
  }
}
@media (max-width: 768px) {
  .home__container {
    margin: 0 4rem;
    padding-top: 4rem;
  }
}
.home__content {
  padding-right: 39rem;
}
@media (max-width: 1400px) {
  .home__content {
    padding-right: 10rem;
  }
}
@media (max-width: 1024px) {
  .home__content {
    padding-right: 0;
    text-align: center;
    padding-bottom: 5.6rem;
  }
}
.home__title, .home__subtitle {
  padding-bottom: 2.5rem;
}
.home__text {
  line-height: 2;
}
@media (max-width: 768px) {
  .home__text {
    font-size: 1.5rem;
  }
}

.technology__container, .crew__container, .destination__container {
  margin: 0 16.5rem;
  padding-top: 7.5rem;
}
@media (max-width: 1024px) {
  .technology__container, .crew__container, .destination__container {
    margin: 0 6rem;
    padding-top: 4rem;
  }
}
@media (max-width: 768px) {
  .technology__container, .crew__container, .destination__container {
    padding-top: 2.5rem;
    margin: 0 2rem;
    text-align: center;
  }
}

.technology__title, .crew__title, .destination__title {
  padding-bottom: 6rem;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .technology__title, .crew__title, .destination__title {
    padding-bottom: 0;
  }
}

.technology__title span, .crew__title span, .destination__title span {
  padding-right: 2.5rem;
  font-weight: bold;
  opacity: 0.25;
}

.destination__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 7rem;
}
@media (max-width: 1024px) {
  .destination__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: 0 10rem;
  }
}
@media (max-width: 768px) {
  .destination__content {
    margin: 0 5rem;
  }
}
.destination__img {
  padding-left: 6.3rem;
  padding-right: 15.7rem;
  padding-top: 3.7rem;
}
@media (max-width: 1024px) {
  .destination__img {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 8rem;
  }
}
@media (max-width: 768px) {
  .destination__img {
    padding-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .destination__img img {
    max-width: 100%;
  }
}

.crew__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 7.5rem;
}
@media (max-width: 1024px) {
  .crew__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 768px) {
  .crew__container {
    text-align: center;
    padding-top: 2.5rem;
  }
}
.crew__title {
  padding-bottom: 15rem;
}
@media (max-width: 1024px) {
  .crew__title {
    padding-bottom: 5.5rem;
    padding-top: 2rem;
    text-align: left;
  }
}
@media (max-width: 768px) {
  .crew__title {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    text-align: center;
    padding-bottom: 2rem;
  }
}
.crew__info {
  min-width: 50%;
}
@media (max-width: 1024px) {
  .crew__info {
    min-width: 100%;
    margin: 0 11.5rem;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  .crew__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.crew__job {
  font-size: 2.4rem;
  color: #8e8f93;
  text-transform: uppercase;
  opacity: 0.5;
  padding-bottom: 1.5rem;
}
@media (max-width: 768px) {
  .crew__job {
    padding-top: 2rem;
  }
}
.crew__name {
  text-transform: uppercase;
  padding-bottom: 2.7rem;
}
.crew__bio {
  color: var(--color-light);
  line-height: 1.77;
  max-width: 44rem;
  min-height: 20rem;
}
@media (max-width: 1024px) {
  .crew__bio {
    max-width: 100%;
    margin: 0 5.5rem;
  }
}
@media (max-width: 768px) {
  .crew__bio {
    font-size: 1.5rem;
    margin: 0 2.5rem;
  }
}
.crew__dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
  padding-bottom: 5rem;
}
@media (max-width: 1024px) {
  .crew__dots {
    padding-bottom: 2rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
    margin-top: 1rem;
  }
}
@media (max-width: 768px) {
  .crew__dots {
    -webkit-box-ordinal-group: -1;
        -ms-flex-order: -2;
            order: -2;
  }
}
.crew__img {
  -webkit-transform: translate(8rem);
      -ms-transform: translate(8rem);
          transform: translate(8rem);
  position: relative;
}
.crew__img::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: var(--color-white);
  left: 0;
  z-index: 1;
  opacity: 0.25;
}
@media (max-width: 1024px) {
  .crew__img {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: -2;
        -ms-flex-order: -3;
            order: -3;
  }
}
.crew__img img {
  max-width: 100%;
  height: auto;
  position: relative;
}
@media (max-width: 1024px) {
  .crew__img img {
    max-width: 50%;
  }
}

.technology__container {
  margin: 0 auto;
}
.technology__title {
  padding-left: 16.3rem;
}
@media (max-width: 1024px) {
  .technology__title {
    padding-left: 6rem;
  }
}
@media (max-width: 768px) {
  .technology__title {
    padding-left: 0;
    padding-bottom: 2.5rem;
  }
}
.technology__wrapper {
  padding-left: 16.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7rem;
}
@media (max-width: 1024px) {
  .technology__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
  }
}
.technology__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: mull;
      -ms-flex-pack: mull;
          justify-content: mull;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .technology__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.technology__numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 8rem;
  list-style: none;
}
@media (max-width: 1024px) {
  .technology__numbers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-right: 0;
    margin-top: 4rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 768px) {
  .technology__numbers {
    margin-bottom: 2rem;
  }
}
.technology__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.technology__item:not(:last-of-type) {
  margin-right: 2.5rem;
}
@media (max-width: 768px) {
  .technology__item {
    font-size: 1.8rem;
  }
}
@media (max-width: 1024px) {
  .technology__article {
    text-align: center;
  }
}
.technology__article--sub {
  font-family: var(--font-nav);
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--color-light);
  text-transform: uppercase;
  letter-spacing: 0.27rem;
  padding-bottom: 1.1rem;
}
.technology__article--title {
  text-transform: uppercase;
  padding-bottom: 1.7rem;
}
.technology__article--text {
  margin-right: 8rem;
  line-height: 1.77;
  color: var(--color-light);
  max-width: 47rem;
}
@media (max-width: 1024px) {
  .technology__article--text {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .technology__article--text {
    margin: 0 2.5rem;
    font-size: 1.5rem;
  }
}
@media (max-width: 1024px) {
  .technology__img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
.technology__img img {
  max-width: 100%;
  height: auto;
}
@-webkit-keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.visible {
  display: block;
  -webkit-animation: visible 3s;
          animation: visible 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes anim {
  from {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes anim {
  from {
    -webkit-transform: translate(-50px);
            transform: translate(-50px);
  }
  to {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
.anim {
  -webkit-animation: anim 2s ease-in-out forwards;
          animation: anim 2s ease-in-out forwards;
}
