/* Button */
.btn {
  @include font($font-heading, 3.2rem);
  letter-spacing: 0.2rem;
  color: $color-dark;
  background-color: $color-white;
  width: 27.4rem;
  height: 27.4rem;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  position: relative;

  @include res(tablet) {
    width: 15rem;
    height: 15rem;
    font-size: 2rem;
  }

  &--main {
    &::before,
    &::after {
      @include pseudo(27rem, 27rem);
      top: 0;
      left: 0;
      background-color: #24262f;
      border-radius: 100%;
      z-index: -1;
      opacity: 0;
      transition: opacity 2s, transform $transition-duration;

      @include res(tablet) {
        display: none;
      }
    }

    &:before {
      background-color: transparent;
      border: 1px solid $color-light;
      z-index: 1;
    }

    @keyframes btnHover {
      from {
        transform: scale(1);
        opacity: 1;
      }
      to {
        transform: scale(1.8);
        opacity: 0.25;
      }
    }

    &:hover::before {
      transform-origin: center;
      animation: btnHover 1s infinite ease-out;
    }

    &:hover::after {
      transform: scale(1.5);
      transform-origin: center;
      opacity: 0.75;
    }
  }

  &--numbers {
    width: 8rem;
    height: 8rem;
    color: $color-white;
    background-color: transparent;
    margin-bottom: 3rem;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.25);
    transition: border $transition-duration;

    @include res(tablet) {
      width: 4rem;
      height: 4rem;
      font-size: 1.8rem;
    }

    &:hover {
      border: 1px solid $color-white;
    }

    &.active {
      border: 1px solid $color-white;
      color: $color-dark;
      background-color: $color-white;
    }
  }

  &--dots {
    width: 1.5rem;
    height: 1.5rem;
    color: $color-white;
    opacity: 0.175;
    transition: opacity $transition-duration;
    font-size: 100%;

    @include res(tablet) {
      width: 1rem;
      height: 1rem;
      font-size: 1rem;
    }

    &:not(:last-of-type) {
      margin-right: 2.4rem;
    }

    &:hover {
      opacity: 0.5;
    }

    &.active {
      opacity: 1;
    }
  }
}

/* Tabs in Destination Section*/
.tabs {
  @include flex();
  padding-bottom: 3.7rem;

  @include res(laptop) {
    @include flex(row, center);
  }

  @include res(tablet) {
    padding-bottom: 2rem;
  }
  &__item {
    @include font($font-nav, 1.4rem, 400);
    letter-spacing: 0.235rem;
    text-transform: uppercase;
    padding-bottom: 1.5rem;
    transition: background $transition-duration;
    cursor: pointer;
    /* underline effect */
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      )
      bottom/0% 3px no-repeat;

    &:not(:last-of-type) {
      margin-right: 3.2rem;
    }

    &:hover {
      background-size: 100% 3px;
    }

    &.active {
      background: linear-gradient(
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 1)
        )
        bottom/100% 3px no-repeat;
      color: $color-white;
    }
  }

  &__title {
    text-transform: uppercase;
    padding-bottom: 1.7rem;
  }

  &__text {
    line-height: 1.7;
    position: relative;
    margin-bottom: 9rem;

    @include res(tablet) {
      font-size: 1.5rem;
      margin-bottom: 6rem;
    }
  }

  &__details {
    @include flex(row);
    @include font($font-heading, 2.8rem, 400);
    color: $color-white;
    text-transform: uppercase;
    position: relative;

    @include res(laptop) {
      @include flex(row, center);
    }

    @include res(tablet) {
      @include flex(column, center, center);
      font-size: 2.8rem;
    }

    &::after {
      @include pseudo(44.4rem, 1px);
      background-color: #383b4b;
      top: -2.5rem;
      left: 0;

      @include res(laptop) {
        left: 50%;
        transform: translate(-50%);
      }

      @include res(tablet) {
        width: 95%;
      }
    }

    %span-text {
      @include font($font-nav, 1.4rem, 400);
      text-transform: uppercase;
      letter-spacing: 0.235rem;
      color: $color-light;
      padding-bottom: 1.3rem;
    }

    &--distance {
      @include flex(column);
      padding-right: 8rem;

      @include res(tablet) {
        padding-right: 0;
        padding-bottom: 2rem;
      }

      span {
        @extend %span-text;
      }
    }

    &--time {
      @include flex(column);

      span {
        @extend %span-text;
      }
    }
  }
}
