/* Button */
.btn {
  @include font($font-heading, 3.2rem);
  letter-spacing: 0.2rem;
  color: $color-dark;
  background-color: $color-white;
  width: 27.4rem;
  height: 27.4rem;
  border: 0;
  border-radius: 100%;
  cursor: pointer;
  position: relative;

  &::before,
  &::after {
    @include pseudo(27rem, 27rem);
    top: 0;
    left: 0;
    background-color: #24262f;
    border-radius: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 2s, transform $transition-duration;
  }

  &:before {
    background-color: transparent;
    border: 1px solid $color-light;
    z-index: 1;
  }

  @keyframes btnHover {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(1.8);
      opacity: 0.25;
    }
  }

  &:hover::before {
    transform-origin: center;
    animation: btnHover 1s infinite ease-out;
  }

  &:hover::after {
    transform: scale(1.5);
    transform-origin: center;
    opacity: 0.75;
  }

  &--numbers {
    width: 8rem;
    height: 8rem;
    color: $color-white;
    background-color: transparent;
    border: 1px solid rgba($color: #000000, $alpha: 0.25);
    transition: opacity $transition-duration;

    &:hover {
      border: 1px solid $color-white;
    }

    &.active {
      border: 1px solid $color-white;
      color: $color-dark;
      background-color: $color-white;
    }
  }

  &--dots {
    width: 1.5rem;
    height: 1.5rem;
    color: $color-white;
    opacity: 0.175;
    transition: opacity $transition-duration;

    &:hover {
      opacity: 0.5;
    }

    &.active {
      opacity: 1;
    }
  }
}
