/* Backgrounds */
%bg-transition {
  transition: background 0.3s;
}

.bg {
  @include bg("../assets/home/background-home-desktop.jpg", cover);
  @extend %bg-transition;

  @include res(laptop) {
    @include bg("../assets/home/background-home-tablet.jpg", cover);
  }

  @include res(tablet) {
    @include bg("../assets/destination/background-home-mobile.jpg", cover);
  }

  &--destination {
    @include bg(
      "../assets/destination/background-destination-desktop.jpg",
      cover
    );
    @extend %bg-transition;

    @include res(laptop) {
      @include bg(
        "../assets/destination/background-destination-tablet.jpg",
        cover
      );
    }

    @include res(tablet) {
      @include bg(
        "../assets/destination/background-destination-mobile.jpg",
        cover
      );
    }
  }

  &--crew {
    @include bg("../assets/crew/background-crew-desktop.jpg", cover);
    @extend %bg-transition;

    @include res(laptop) {
      @include bg("../assets/crew/background-crew-tablet.jpg", cover);
    }
  }

  @include res(tablet) {
    @include bg("../assets/crew/background-crew-mobile.jpg", cover);
  }

  &--technology {
    @include bg(
      "../assets/technology/background-technology-desktop.jpg",
      cover
    );
    @extend %bg-transition;

    @include res(laptop) {
      @include bg(
        "../assets/technology/background-technology-tablet.jpg",
        cover
      );
    }

    @include res(tablet) {
      @include bg(
        "../assets/technology/background-technology-mobile.jpg",
        cover
      );
    }
  }
}

/* Layout */
.container {
  max-width: 144rem;
  // min-height: 90rem;
  @include center;

  @include res(laptop) {
    max-width: 102.4rem;
  }
}

/* Header */
.header {
  @include flex(row, space-between, center);
  // height: 9.6rem;
  margin-top: 4rem;

  @include res(laptop) {
    margin-top: 0;
  }

  &__logo {
    width: 4.8rem;
    height: 4.8rem;
    @include ml(5.5rem);

    @include res(laptop) {
      margin-left: 4rem;
    }

    @include res(tablet) {
      margin-top: 2.5rem;
      margin-left: 2.5rem;
      width: 4rem;
      height: 4rem;
    }
  }
}

/* Navigation */
.nav {
  @include flex(row, center, center);
  // width: 830px;
  padding: 0 12rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);

  @include res(laptop) {
    padding: 0 7.5rem;
  }

  @include res(tablet) {
    @include flex(column, flex-start, flex-start);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 1;
    padding: 10rem 6rem 0 6rem;
    display: none;
  }

  &::before {
    @include pseudo(47.3rem, 1px);
    top: 4.75rem;
    left: -44.2rem;
    background-color: $color-white;
    opacity: 0.25;
    z-index: 1;

    @include res(laptop) {
      display: none;
    }
  }

  &__item {
    @include flex(null, null, center);
    @include font($font-nav, 1.6rem);
    letter-spacing: 0.27rem;
    text-transform: uppercase;
    // height: 9.3rem;
    padding: 3.5rem 0;
    margin-right: 4.8rem;
    transition: background $transition-duration;
    cursor: pointer;
    /* underline effect */
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      )
      bottom/0% 3px no-repeat;

    @include res(laptop) {
      margin-right: 2.5rem;
    }

    @include res(tablet) {
      padding: 2rem 0;
    }

    &:last-of-type {
      @include res(laptop) {
        margin-right: 0;
      }
    }

    &:hover {
      background-size: 100% 3px;
    }

    & span {
      font-weight: bold;
      padding-right: 0.6rem;
    }

    &.active {
      background: linear-gradient(
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 1)
        )
        bottom/100% 3px no-repeat;
    }
  }
}

/* Sections */

.section {
  width: 100%;
  // border: 1px solid red;
}

%section-hidden {
  display: none;
}

.home {
  @extend %section-hidden;

  &__container {
    margin: 0 16.5rem;
    padding-top: 25rem;
    @include flex(row, space-between, flex-end);
    padding-bottom: 7rem;

    @include res(error) {
      padding-top: 15rem;
    }

    @include res(laptop) {
      @include flex(column, center, center);
      padding-top: 11rem;
    }

    @include res(tablet) {
      margin: 0 4rem;
      padding-top: 4rem;
    }
  }

  &__content {
    padding-right: 39rem;

    @include res(error) {
      padding-right: 10rem;
    }
    @include res(laptop) {
      padding-right: 0;
      text-align: center;
      padding-bottom: 5.6rem;
    }
  }

  &__title,
  &__subtitle {
    padding-bottom: 2.5rem;
  }

  &__text {
    line-height: 2;

    @include res(tablet) {
      font-size: 1.5rem;
    }
  }
}

%section-container {
  margin: 0 16.5rem;
  padding-top: 7.5rem;

  @include res(laptop) {
    margin: 0 6rem;
    padding-top: 4rem;
  }

  @include res(tablet) {
    padding-top: 2.5rem;
    margin: 0 2rem;
    text-align: center;
  }
}

%section-title {
  padding-bottom: 6rem;
  text-transform: uppercase;

  @include res(tablet) {
    padding-bottom: 0;
  }
}

%section-title-span {
  padding-right: 2.5rem;
  font-weight: bold;
  opacity: 0.25;
}

.destination {
  @extend %section-hidden;

  &__container {
    @extend %section-container;
  }

  &__title {
    @extend %section-title;

    & span {
      @extend %section-title-span;
    }
  }

  &__content {
    @include flex(row, flex-start, center);
    padding-bottom: 7rem;

    @include res(laptop) {
      @include flex(column, center, center);
      text-align: center;
      margin: 0 10rem;
    }

    @include res(tablet) {
      margin: 0 5rem;
    }
  }

  &__img {
    // max-width: 100%;
    padding-left: 6.3rem;
    padding-right: 15.7rem;
    padding-top: 3.7rem;

    @include res(laptop) {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 8rem;
    }

    @include res(tablet) {
      padding-bottom: 3rem;
    }

    & img {
      @include res(tablet) {
        max-width: 100%;
      }
    }
  }
}

.crew {
  @extend %section-hidden;

  &__container {
    @extend %section-container;
    position: relative;
    @include flex(row);
    padding-top: 7.5rem;

    @include res(laptop) {
      @include flex(column, center, center);
    }

    @include res(tablet) {
      text-align: center;
      padding-top: 2.5rem;
    }
  }

  &__title {
    @extend %section-title;
    padding-bottom: 15rem; // title inside flex

    @include res(laptop) {
      padding-bottom: 5.5rem;
      padding-top: 2rem;
      text-align: left;
    }

    @include res(tablet) {
      order: -2;
      text-align: center;
      padding-bottom: 2rem;
    }

    & span {
      @extend %section-title-span;
    }
  }

  &__info {
    min-width: 50%;

    @include res(laptop) {
      min-width: 100%;
      margin: 0 11.5rem;
      text-align: center;
    }

    @include res(laptop) {
      @include flex(column, center, center);
    }
  }

  &__job {
    font-size: 2.4rem;
    color: #8e8f93;
    text-transform: uppercase;
    opacity: 0.5;
    padding-bottom: 1.5rem;

    @include res(tablet) {
      padding-top: 2rem;
    }
  }

  &__name {
    text-transform: uppercase;
    padding-bottom: 2.7rem;
    // max-width: 65rem;
  }

  &__bio {
    color: $color-light;
    line-height: 1.77;
    max-width: 44rem;
    padding-bottom: 11.5rem;

    @include res(laptop) {
      max-width: 100%;
      margin: 0 5.5rem;
      padding-bottom: 4rem;
    }

    @include res(tablet) {
      font-size: 1.5rem;
      margin: 0 2.5rem;
    }
  }

  &__dots {
    @include flex(row, null, center);
    margin-top: 6.3rem;
    padding-bottom: 5rem;

    @include res(laptop) {
      padding-bottom: 2rem;
      justify-content: center;
      order: -2;
      margin-top: 1rem;
    }

    @include res(tablet) {
      order: -2;
    }
  }

  &__img {
    transform: translate(8rem);

    position: relative;

    &::after {
      @include pseudo(100%, 1px);
      background-color: $color-white;
      bottom: 0;
      left: 0;
      z-index: 1;
      opacity: 0.25;
    }

    @include res(laptop) {
      // align-self: center;
      transform: translate(0);
      @include flex(row, center, center);
      order: -3;
    }

    @include res(tablet) {
    }

    & img {
      max-width: 100%;
      height: auto;
      position: relative;

      @include res(laptop) {
        max-width: 50%;
      }
    }
  }
}

.technology {
  @extend %section-hidden;

  &__container {
    @extend %section-container;
    margin: 0 auto;
  }

  &__title {
    @extend %section-title;
    padding-left: 16.3rem;

    @include res(laptop) {
      padding-left: 6rem;
    }

    @include res(tablet) {
      padding-left: 0;
      padding-bottom: 2.5rem;
    }

    & span {
      @extend %section-title-span;
    }
  }

  &__wrapper {
    padding-left: 16.3rem;
    @include flex(row, space-between);
    padding-bottom: 7rem;

    @include res(laptop) {
      @include flex(column, center, center);
      padding-left: 0;
    }
  }

  &__content {
    @include flex(row, mull, center);

    @include res(laptop) {
      @include flex(column, center, center);
    }
  }

  &__numbers {
    @include flex(column);
    margin-right: 8rem;
    list-style: none;

    @include res(laptop) {
      @include flex(row, center, center);
      order: -1;
      margin-right: 0;
      margin-top: 4rem;
      margin-bottom: 3rem;
    }
    @include res(tablet) {
      margin-bottom: 2rem;
    }
  }

  &__item {
    @include flex(row, center, center);

    &:not(:last-of-type) {
      margin-right: 2.5rem;
    }

    @include res(tablet) {
      font-size: 1.8rem;
    }
  }

  &__article {
    @include res(laptop) {
      text-align: center;
    }

    &--sub {
      @include font($font-nav, 1.6rem, 400, $color-light);
      text-transform: uppercase;
      letter-spacing: 0.27rem;
      padding-bottom: 1.1rem;
    }

    &--title {
      text-transform: uppercase;
      padding-bottom: 1.7rem;
    }

    &--text {
      margin-right: 8rem;
      line-height: 1.77;
      color: $color-light;
      max-width: 47rem;

      @include res(laptop) {
        margin-right: 0;
      }

      @include res(tablet) {
        margin: 0 2.5rem;
      }
      @include res(tablet) {
        font-size: 1.5rem;
      }
    }
  }

  &__img {
    // margin-bottom: 7rem;

    @include res(laptop) {
      order: -1;
    }

    & img {
      max-width: 100%;
      height: auto;

      @include res(tablet) {
      }
    }
  }
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visible {
  display: block;
  animation: visible 3s;
  animation-fill-mode: forwards;
}

@keyframes anim {
  from {
    transform: translate(-50px);
  }
  to {
    transform: translate(0);
  }
}

.anim {
  animation: anim 2s ease-in-out forwards;
}
