/* Backgrounds */
%bg-transition {
  transition: background 1s;
}

.bg {
  @include bg("../assets/home/background-home-desktop.jpg", cover);
  @extend %bg-transition;

  &--destination {
    @include bg(
      "../assets/destination/background-destination-desktop.jpg",
      cover
    );
    @extend %bg-transition;
  }

  &--crew {
    @include bg("../assets/crew/background-crew-desktop.jpg", cover);
    @extend %bg-transition;
  }

  &--technology {
    @include bg(
      "../assets/technology/background-technology-desktop.jpg",
      cover
    );
    @extend %bg-transition;
  }
}

/* Layout */
.container {
  max-width: 144rem;
  // min-height: 90rem;
  @include center;
}

/* Header */
.header {
  @include flex(row, space-between, center);
  height: 9.6rem;
  margin-top: 4rem;

  &__logo {
    width: 4.8rem;
    height: 4.8rem;
    @include ml(5.5rem);
  }
}

/* Navigation */
.nav {
  @include flex(row, center, center);
  // width: 830px;
  padding: 0 12rem;
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.5485px);
  position: relative;

  &::before {
    @include pseudo(47.3rem, 1px);
    top: 4.75rem;
    left: -44.2rem;
    background-color: $color-white;
    opacity: 0.25;
    z-index: 1;
  }

  &__item {
    @include flex(null, null, center);
    @include font($font-nav, 1.6rem);
    letter-spacing: 0.27rem;
    text-transform: uppercase;
    // height: 9.3rem;
    padding: 3.5rem 0;
    margin-right: 4.8rem;
    transition: background $transition-duration;
    cursor: pointer;
    /* underline effect */
    background: linear-gradient(
        rgba(255, 255, 255, 0.5),
        rgba(255, 255, 255, 0.5)
      )
      bottom/0% 3px no-repeat;

    &:hover {
      background-size: 100% 3px;
    }

    & span {
      font-weight: bold;
      padding-right: 0.6rem;
    }

    &.active {
      background: linear-gradient(
          rgba(255, 255, 255, 1),
          rgba(255, 255, 255, 1)
        )
        bottom/100% 3px no-repeat;
    }
  }
}

/* Sections */

.section {
  width: 100%;
  // border: 1px solid red;
}

%section-hidden {
  display: none;
}

.home {
  @extend %section-hidden;

  &__container {
    margin: 0 16.5rem;
    padding-top: 25rem;
    @include flex(row, space-between, flex-end);
    padding-bottom: 7rem;
  }

  &__content {
    padding-right: 39rem;
  }

  &__title,
  &__subtitle {
    padding-bottom: 2.5rem;
  }

  &__text {
    line-height: 2;
  }
}

%section-container {
  margin: 0 16.5rem;
  padding-top: 7.5rem;
}

%section-title {
  padding-bottom: 6rem;
  text-transform: uppercase;
}

%section-title-span {
  padding-right: 2.5rem;
  font-weight: bold;
  opacity: 0.25;
}

.destination {
  @extend %section-hidden;

  &__container {
    @extend %section-container;
  }

  &__title {
    @extend %section-title;

    & span {
      @extend %section-title-span;
    }
  }

  &__content {
    @include flex(row, flex-start, center);
    padding-bottom: 7rem;
  }

  &__img {
    max-width: 100%;
    padding-left: 6.3rem;
    padding-right: 15.7rem;
    padding-top: 3.7rem;
  }
}

.crew {
  @extend %section-hidden;

  &__container {
    @extend %section-container;
    position: relative;
    @include flex(row);
    padding-top: 7.5rem;
  }

  &__title {
    @extend %section-title;
    padding-bottom: 15rem; // title inside flex

    & span {
      @extend %section-title-span;
    }
  }

  &__info {
    min-width: 50%;
  }

  &__job {
    text-transform: uppercase;
    opacity: 0.5;
    padding-bottom: 1.5rem;
  }

  &__name {
    text-transform: uppercase;
    padding-bottom: 2.7rem;
  }

  &__bio {
    color: $color-light;
    line-height: 1.77;
    width: 44rem;
    padding-bottom: 11.5rem;
  }

  &__dots {
    // margin-bottom: 4.3rem;
  }

  &__img {
    width: 100%;
    height: auto;
    align-self: flex-end;
    // padding-top: 3rem;
    transform: translateX(8rem);

    & img {
      max-width: 90%;
      height: auto;
    }
  }
}

.technology {
  @extend %section-hidden;

  &__container {
    @extend %section-container;
    margin: 0 auto;
  }

  &__title {
    @extend %section-title;
    padding-left: 16.3rem;

    & span {
      @extend %section-title-span;
    }
  }

  &__wrapper {
    padding-left: 16.3rem;
    @include flex(row, space-between);
    padding-bottom: 7rem;
  }

  &__content {
    @include flex(row, mull, center);
  }

  &__numbers {
    @include flex(column);
    margin-right: 8rem;
    list-style: none;
  }

  &__item {
    @include flex(row, center, center);
  }

  &__article {
    &--sub {
      @include font($font-nav, 1.6rem, 400, $color-light);
      text-transform: uppercase;
      letter-spacing: 0.27rem;
      padding-bottom: 1.1rem;
    }

    &--title {
      text-transform: uppercase;
      padding-bottom: 1.7rem;
    }
    &--text {
      max-width: 44.4rem;
      line-height: 1.77;
      color: $color-light;
    }
  }

  &__img {
    // margin-bottom: 7rem;

    & img {
      max-width: 100%;
      height: auto;
    }
  }
}

@keyframes visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.visible {
  display: block;
  animation: visible 3s;
  animation-fill-mode: forwards;
}
