// Responsive Breakpoints
$breakpoints: (
  "phone": 375px,
  "tablet": 768px,
  "laptop": 1024px,
  "desktop": 1280px,
) !default;

@mixin res($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// Font-Family
@mixin font($name, $size: null, $weight: null, $color: null) {
  font-family: $name;
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $color {
    color: $color;
  }
}

// Background Elements
@mixin bg($image, $size, $position: null) {
  background-image: url($image);
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
}

// Pseudo Elements
@mixin pseudo($width, $height) {
  content: "";
  display: block;
  position: absolute;
  width: $width;
  height: $height;
}

// Flexbox
@mixin flex(
  $direction: null,
  $justify-content: null,
  $align-items: null,
  $wrap: null
) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $wrap;
}

// Centering with margin
@mixin center() {
  margin: 0 auto;
}

// Margins
@mixin mt($top) {
  margin-top: $top;
}
@mixin mb($bottom) {
  margin-bottom: $bottom;
}
@mixin ml($left) {
  margin-left: $left;
}
@mixin mr($right) {
  margin-right: $right;
}
