/* SASS Variables */
$color-dark: var(--color-dark);
$color-light: var(--color-light);
$color-white: var(--color-white);

$font-heading: var(--font-heading);
$font-body: var(--font-body);
$font-nav: var(--font-nav);
$font-size: var(--font-size);

$transition-duration: var(--transition-duration);

/* CSS Variables */
:root {
  --color-dark: hsl(230, 35%, 7%);
  --color-light: hsl(231, 77%, 90%);
  --color-white: hsl(0, 0%, 100%);

  --font-heading: "Bellefair", serif;
  --font-body: "Barlow", sans-serif;
  --font-nav: "Barlow Condensed", sans-serif;
  --font-size: 1.8rem;

  --transition-duration: 0.35s;
}
